* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    width: 340px;
    background: #000000;
    padding: 20px;
    border-radius: 20px;
}

.display {
    color: #ffffff;
    font-size: 64px;
    text-align: right;
    padding: 20px 10px;
    min-height: 90px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

sup {
    font-size: 16px;
}

button {
    height: 65px;
    border-radius: 25%;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background: #333333;
    color: #ffffff;
}

button:hover {
    background: #505050;
}

button:active {
    filter: brightness(1.2);
    transform: scale(0.95);
}

.orangebr {
    color: #ffffff;
    background-color: #EB8310;
}

.orangebr:hover {
    background-color: #c96b00;
}

.orange {
    color: #EB8310;
}

.zero {
    grid-column: span 2;
    border-radius: 15px;
    text-align: center;
}

