body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background: #f2f2f2;
    font-family: Arial;
    height: auto;
}

input {
    width: 90%;
    margin: 5px 0;
    padding: 8px;
}

.buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    width: 90px;
    height: 40px;
}

.box {
    border: 1px solid black;
    border-radius: 1px;
    background-color: white;
    margin: 10px 0;
    width: 90%;
    padding: 8px;
    height: 50px;
}

.kq {
    margin-top: 10px;
    font-weight: bold;
}
